<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Csci 130 Project</title>
    </head>
    <body>
        <p> Template loaded successfully </p>
        <form method="POST">
        
            <p>Name: <input type="text" name="name"><br></p>
            <p>Age: <input type="text" name="age"><br></p>
            <p>Sex: <input type="text" name="sex"><br></p>
            <p>Location: <input type="text" name="location"><br></p>

            <input type="submit">
        </form>
    </body>
</html>