<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="atf">
    <div class="header">
        <p align="center">hello, this is my header</p>
    </div>

    <svg width="100" height="100">
      <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
    </svg>

    <!-- emmet notation -->
     <!--(h1#element${Header $$$}+p*3>lorem)*4-->
    <h1 id="element1">My Go Website</h1>
</div>

<div id="btf">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus beatae enim inventore ratione tempora! Asperiores
        deleniti, deserunt dolorem ducimus ex impedit maiores, minima minus quam quos rerum similique veritatis,
        voluptate.</p>

    <p>Aperiam corporis cupiditate deserunt dicta expedita fuga ipsum necessitatibus numquam quaerat quam sapiente, soluta
        ut velit. Autem dolore dolores eos impedit iure laudantium magnam magni, numquam officia rerum, unde voluptas?</p>

    <p>A ab aliquam dolore impedit quos! Assumenda eos facilis impedit, iste libero maxime, necessitatibus, officia
        perspiciatis quod saepe tenetur veritatis? Commodi deserunt fuga hic iure obcaecati, optio perspiciatis sapiente
        suscipit?</p>
</div>



</body>
</html>