<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="css/main.css">
    </head>    
    <body>
        <header>
            {{if .IsNew}}
            Never here
            <svg width="100" height="100">
                <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
            </svg>
            {{else}}
            Been here,
            {{end}}
            {{if .Logged}}
                Logged in
            {{end}}
            <svg width="50" height="50">
                <circle cx="25" cy="25" r="20" stroke="green" stroke-width="4" fill="red" />
            </svg>            
            <a href="http://localhost:8080/signup">Signup</a>
            <a href="http://localhost:8080/update">Update</a>
            <a href="http://localhost:8080/upload">Upload</a>
            <a href="http://localhost:8080/external">External Service</a>
            <a href="http://localhost:8080/login">Login</a>
        </header>
        <div id='main' class='top-section'>
            <article>The Website!</article>
            <nav>Left Side</nav>
            <aside>Right Side</aside>
        </div>    
        <div class='bottom-section'>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <footer>Rob Boettcher</footer>
    </body>
</html>
