<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Csci 130 Project</title>
    </head>
    <body>
        <p> Template loaded successfully </p>
        <form method="POST">
            <h1></h1>
            <p>Username: <input type="text" name="username" id="username"><br></p>
            <p>Email: <input type="email" name="email"><br></p>
            <p>Password: <input type="password" name="password"><br></p>

            <input type="submit">
            {{if .Created}}
            <p>New User created!</p>
            {{else if .NotCreated}}
            <p>There was an error, no user was created.</p>
            {{end}}
        </form>        
    <script src="public/main.js"></script>
    </body>
</html>