<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>List</title>
    </head>
    <body>
        <div>
            <p>{{.Name}}</p>
            {{if .IsAlive}}
            <p>is alive!</p>
            {{else}}
            <p>is not alive</p>
            {{end}}
        </div>
    </body>
</html>